{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
   <link rel="stylesheet" href="{% static 'css/footer2.css' %}">

</head>
<body>

    <footer class="footer-distributed">
    
                <div class="footer-left">
    
                    <h3>Company<span>logo</span></h3>
    
                    <p class="footer-links">
                        <a href="#" class="link-1">Terms And Conditions</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Return Policy</a>
                        <a href="#">Shipping and Delivery Conditions</a>
                    </p>
    
                    {% comment %} <p class="footer-company-name">Copyright © name 2025</p> {% endcomment %}
                </div>
    
                <div class="footer-center">
    
                    {% comment %} <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>444 S. Cedros Ave</span> Solana Beach, California</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+1.555.555.5555</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:support@company.com">support@company.com</a></p>
                    </div> {% endcomment %}
                    <p class="footer-company-about">
                        <span>About the company</span>
                        our go-to destination for sports jerseys designed with care and delivered with a commitment to quality, comfort, and style. Whether for teams, events, or everyday wear, we help you represent with pride.

                    
    
                </div>
    
                <div class="footer-right">
    
                    <div class="footer-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-x"></i></a>
                    </div>
                      
    
                </div>
                <p class="footer-company-name">Copyright © name 2025</p>
    
            </footer>

</body>
</html>