{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Privacy-policy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="{% static 'css/privacy-policy.css' %}">
</head>

<body>
<div class="container">
    <div class="head">
        <h1>Privacy Policy</h1>
    </div>
    <div class="sub">
        <p>This Privacy Policy describes how Jersey Loft ("we", "us", or "our") collects, uses, and discloses your 
            personal information when you visit, use our services, or make a purchase from <span>jerseyloft.com</span>.</p>
        <p>Please read this Privacy Policy carefully. By accessing or using any of the Services, you agree to the 
            terms described here. If you do not agree, please do not use or access any of the Services.</p>

        <h2>
            How We Collect Your Personal Information
        </h2>
        <p>We collect personal information from you through direct interactions, cookies, and third parties. 
            The type of data depends on how you use our site and services.</p>

        <h3>Information We Collect Directly from You</h3>
        <ul>
            <li><span>Basic contact details:</span> name, address, phone number, email.</li>
            <li><span>Order information:</span> billing/shipping address, payment confirmation, etc.</li>
            <li><span>Account information:</span> username, password, security questions.</li>
            <li><span>Shopping activity:</span> items viewed, added to cart/wishlist.</li>
            <li><span>Customer support communications:</span> any information shared through support requests.</li>
        </ul>

        <h3>Information We Collect through Cookies</h3>
        <p>We automatically collect "Usage Data" like IP address, browser type, and site interaction using 
            cookies, pixels, and similar technologies.</p>

        <h3>Information from Third Parties</h3>
        <ul>
            <li>Vendors and service providers</li>
            <li>Payment processors</li>
            <li>Analytics and advertising platforms</li>
        </ul>

        <h2>How We Use Your Personal Information</h2>
        <ul>
            <li>To process orders, returns, and provide our services</li>
            <li>To send marketing emails and show targeted ads</li>
            <li>To detect and prevent fraud or misuse</li>
            <li>To provide customer service and support</li>
        </ul>

        <h2>Law Enforcement</h2>
        <p>We may disclose personal information when required to do so by law or in response to valid legal requests.</p>

        <h2>Cookies</h2>
        <p>We use cookies to remember preferences, run analytics, and improve user experience. 
            You can manage cookie settings in your browser.</p>

        <h2>How We Disclose Personal Information</h2>
        <ul>
            <li>To vendors and service providers</li>
            <li>To business and marketing partners</li>
            <li>To affiliates or during legal/business transitions (e.g., mergers)</li>
        </ul>

        <h2>User-Generated Content</h2>
        <p>Content like reviews you post may be publicly visible. Share personal info in public areas with caution.</p>

        <h2>Security and Retention of Information</h2>
        <p>We use security measures to protect your information but cannot guarantee 100% security. 
            We retain data as needed for service, legal, or compliance purposes.</p>

        <h2>Your Rights and Choices</h2>
        <p>You may have rights depending on your location, including access, correction, or deletion of 
            your data. You can also opt out of marketing communications.</p>

        <h2>Changes to This Privacy Policy</h2>
        <p>This policy may be updated periodically. Changes will be posted on this page with a "Last updated" date.</p>

        <h2>Vontact Us</h2>
        <p>For any questions, contact us at updates@jerseyloft.com<br>
            Jersey Loft<br>
            Tavanur, Malappuram, Kerala - 679573, India</p>

    </div>
</div>
{% include "footer.html" %}

</body>
</html>