{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link href="{% static 'css/product_list.css' %}" rel="stylesheet">
</head>
<body>



<!-- Main Content -->
<div class="main-container">
  <!-- Left Filters -->
  <div class="filter-panel">
    <h3>Filters</h3>

    {% comment %} <div class="filter-group">
      <label for="team">Team</label>
      <select id="team">
        <option>All</option>
        <option>Sporting CP</option>
        <option>Manchester United</option>
        <option>Real Madrid</option>
        <option>Juventus</option>
        <option>Al Nassr</option>
        <option>Portugal</option>
      </select>
    </div> {% endcomment %}

    <div class="filter-group">
      <label for="price">Price</label>
      <select id="price">
        <option>All</option>
        <option>Low to High</option>
        <option>High to Low</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="sort">Sort By</label>
      <select id="sort">
        <option>All</option>
        <option>Latest</option>
        <option>Oldest</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="size">Size</label>
      <select id="size">
        <option>S</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>
        <option>XXL</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="size">Neck</label>
      <select id="size">
        <option>Round Neck</option>
        <option>Collar</option>
        <option>Collar with Zip</option>
        <option>V-Neck</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="size">Sleeve</label>
      <select id="size">
        <option>Half Sleeve</option>
        <option>Five Sleeve</option>
        <option>Full Sleeve</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="size">Badge</label>
      <select id="size">
        <option>Embroidary</option>
        <option>Sublimation</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="size">Material</label>
      <select id="size">
        <option>Dontknit</option>

      </select>
    </div>

  </div>

  <!-- Right Product Grid -->
  <div class="product-listing">
     <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
    <div class="product-card">
      <img src="{% static 'img/rono/j3.png' %}" alt="Product 1">
      <h4>Ronaldo Jersey - Real Madrid</h4>
      <p>Classic White Home Edition</p>
      <div class="price">€75.00</div>
    </div>
  </div>
</div>

</body>
</html>
