{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Return Policy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="{% static 'css/privacy-policy.css' %}">
</head>

<body>

    <div class="container">
        <div class="head">
            <h1>RETURN AND REFUND POLICY</h1>
        </div>
        <div class="sub">
        
        <p>We strive to provide you with the best quality jerseys and ensure a hassle-free shopping 
            experience. Below are the terms of our return policy:</p>

        <h2>1. Return Eligibility</h2>
        <ul>
            <li>Returns must be initiated within 3 days of delivery.</li>
            <li>Returns are accepted only under the following conditions:
            <ul>
                <li>The item is damaged or defective due to an issue on our end.</li>
                <li>The wrong size was shipped due to our error.</li>
            </ul>
            </li>
        </ul>
            
        <h2>2. Return Process</h2>
        <ul>
            <li>If the return is due to damage or size issues caused by us:
                <ul>
                    <li>We will cover the return and shipping costs.</li>
                </ul>
            </li>
            <li>If the return is due to size issues caused by your selection error:
                <ul>
                    <li>You will be responsible for paying the return and shipping charges.</li>
                </ul>
            </li>
            <li>We cannot be held responsible for goods damaged or lost in return shipment. We are unable to 
                issue a refund without actual receipt of the goods or proof of received return delivery.</li>
        </ul>
            
        <h2>3. Return Approval</h2>
        <ul>
            <li>All returns are subject to inspection to verify the claimed issue.</li>
            <li>The item must be in its original condition, unused, and with all tags intact.</li>
        </ul>
            
        <h2>4. Refund to Wallet Policy (Exchanges & Returns)</h2>
        <ul>
            <li>Refund will be processed to your Wallet after deducting return shipping charges.</li>
            <li>This credit can be used for future purchases on our website and does not expire.</li>
            <li>Refund issued within 2–3 business days after inspection.</li>
            <li>If exchange item value differs, difference will be charged or refunded via wallet.</li>
            <li>Customized jerseys are non-returnable unless defective or our error.</li>
        </ul>
            
        <h2>5. How to Initiate a Return</h2>
        <ul>
            <li>Contact us via phone:<a href="phoneto:0123456789"> 6282661164</a> or 
              email: <a href="mailto:updates@jerseyloft.com">updates@jerseyloft.com</a></li>
            <li>Include your order number and reason for return.</li>
        </ul>
            
        <p>We are committed to ensuring customer satisfaction while maintaining fairness in our policies. 
          Please double-check size charts before placing your order to avoid unnecessary inconvenience.</p>

      </div>  
    </div>

    {% include "footer.html" %}

</body>
</html>