{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SHIPPING & DELIVERY POLICY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="{% static 'css/privacy-policy.css' %}">
</head>

<body>

    <div class="container">
        <div class="head">
            <h1>SHIPPING & DELIVERY POLICY</h1>
        </div>
        <div class="sub">
            
            <h2>1. Shipping</h2>
            <p>All orders for our products are processed and shipped within 2 business days and assure delivery 
                in 7–9 days. Orders are not shipped or delivered on weekends or holidays. In case of high order 
                volume, shipments may be delayed. If there will be a significant delay, we will notify you via email.</p>

            <h2>2. Wrong Address Disclaimer</h2>
            <p>It is the customer’s responsibility to ensure the shipping address entered is correct. If you realize 
                that your address is incorrect, contact us immediately 
                at <a href="mailto:updates@jerseyloft.com">updates@jerseyloft.com</a>. We will attempt to correct 
                it if the order has not shipped.</p>

            <h2>3. Undeliverable Orders</h2>
            <p>Orders returned to us as undeliverable due to incorrect address are subject to a restocking fee. 
                The fee will depend on the returned items.</p>

            <h2>4. Lost or Stolen Packages</h2>
            <p>Jersey Loft is not responsible for lost or stolen packages. If tracking shows delivery but you have 
                not received it, please contact the shipping carrier and local authorities.</p>

            <h2>5. Return Request Days</h2>
            <p>Returns are allowed within 7 days of delivery. Items must be unopened, unused, and in original 
                packaging. See our Refund Policy for more.</p>

            <h2>6. Out-of-Stock Items</h2>
            <p>If any item is out of stock, we will hold the order until all items are available. For extended 
                delays, we will notify you by email.</p>

            <h2>7. Import Duty and Taxes</h2>
            <p>For international orders, import duties and taxes may apply. Jersey Loft offers pre-paid options so 
                taxes and duties are included in the price for a smooth experience.</p>

            <h2>8. Acceptance of Terms</h2>
            <p>By using our site and placing an order, you agree to this Shipping Policy.</p>

            <h2>9. Contact Information</h2>
            <p>Questions about shipping? Contact us at: <a href="mailto:updates@jerseyloft.com">updates@jerseyloft.com</a></p>

        </div>
    </div>

    {% include "footer.html" %}

</body>
</html>