{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Terms and Conditions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="{% static 'css/privacy-policy.css' %}">
</head>

<body>

    <div class="container">
        <div class="head">
            <h1>TERMS AND CONDITIONS</h1>
        </div>
        <div class="sub">
        
            <h2>Overview</h2>
            <p>This website is operated by Jersey Loft. Throughout the site, the terms “we”, “us” and “our” refer to 
                Jersey Loft. Jersey Loft offers this website, including all information, tools, and services available 
                from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies, 
                and notices stated here.</p>
            <p>By visiting our site and/or purchasing something from us, you engage in our “Service” and agree to be 
                bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional 
                terms and conditions and policies referenced herein and/or available by hyperlink.</p>
            <p>These Terms apply to all users of the site including browsers, vendors, customers, merchants, and/or 
                contributors of content.</p>
            <p>Please read these Terms of Service carefully. Continued use of this site implies acceptance of all 
                terms and any updates posted.</p>

            <h2>Online Store Teams</h2>
            <ul>
                <li>You must be the age of majority in your region or have guardian consent to use this site.</li>
                <li>You must not use our products or services for any illegal or unauthorized purpose.</li>
                <li>Any breach of these Terms will result in termination of your Services.</li>
            </ul>

            <h2>General Conditions</h2>
            <ul>
                <li>We reserve the right to refuse service to anyone at any time.</li>
                <li>Your content may be transferred unencrypted across networks, except credit card data which is always 
                    encrypted.</li>
                <li>You may not reproduce or exploit any part of the service without written permission.</li>
            </ul>

            <h2>Modifications to the Service and Prices</h2>
            <ul>
                <li>Prices may change without notice.</li>
                <li>We may modify or discontinue any part of the service at any time without liability.</li>
            </ul>

            <h2>Products or Services</h2>
            <ul>
                <li>Some products may only be available online and in limited quantities.</li>
                <li>We may limit product sales per person, region, or jurisdiction.</li>
                <li>Product descriptions and pricing may change without notice.</li>
            </ul>

            <h2>Accuracy of Billing and Account Information</h2>
            <ul>
                <li>We reserve the right to refuse or cancel any order at our discretion.</li>
                <li>You must provide accurate and up-to-date purchase and account information.</li>
            </ul>

            <h2>Third-Party Links</h2>
            <p>We may provide links or tools from third-parties, which you use at your own risk. 
                We do not monitor or control them.</p>

            <h2>User Comments and Feedback</h2>
            <p>Any suggestions or submissions you send may be used by us without obligation or compensation.</p>

            <h2>Personal Information</h2>
            <p>Your personal information submission is governed by our <a href="#">Privacy Policy.</a></p>

            <h2>Errors, Inaccuracies, and Omissions</h2>
            <p>We reserve the right to correct errors or omissions in site content at any time, without prior notice.</p>

            <h2>Prohibited Uses</h2>
            <p>You may not use this site or its content for unlawful purposes.</p>

            <h2>Disclaimer of Warranties and Limitation of Liability</h2>
            <p>We do not guarantee uninterrupted or error-free service. Service is provided "as is" and "as available".</p>

            <h2>Governing Law</h2>
            <p>These terms shall be governed by and interpreted in accordance with the laws of India.</p>

            <h2>Contact Information</h2>
            <p>Questions about these Terms should be sent to: <span>updates@jerseyloft.com</span></p>

        </div>
    </div>

    {% include "footer.html" %}

</body>
</html>