* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e0e0e0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.navbar {
  padding: 20px 40px;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 110px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.main-content {
  padding: 40px 20px;
  margin-top: 8%;
  position: relative;
}

.title-text h1 {
  font-size: 130px;
  font-weight: 900;
  line-height: 1;
  color: #000;
  margin-left: 200px;
  position: relative;
  z-index: 1;
}

.title-text .second {
  font-size: 170px;
  margin-left: 400px;
}

.content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -300px; 
  padding: 0 200px;
  position: relative;
  z-index: 2;
  margin-left: 100px;
}

.description {
  flex: 0.5;
  margin-right: 0px;
  margin-top: 350px;
  margin-left: -100px;
  padding-left: 0px;
}

.description p {
  font-size: 35px;
  color: #000;
  margin-bottom: 20px;
  font-weight:300;
}

.description button {
  padding: 12px 40px;
  font-size: 26px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.jersey-center {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.jersey-center img {
  height: 600px;
  max-width: 100%;
  object-fit: cover;
  margin-top: 130px; 
}

.add-to-cart {
  flex: 0.5;
  text-align: center;
  margin-top: 300px;
}

.add-to-cart .circle {
  width: 70px;
  height: 70px;
  background: #e0e0e0;
  border-radius: 100%;
  border: 3px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: lighter;
  cursor: pointer;
  margin-bottom: 8px;
}

.add-to-cart p {
  font-size: 14px;
  font-weight: 400;
}



/* category */


.category-wrapper {
  /* padding: 150px; */
  padding: 40px 100px 100px;
  margin-top: 0px;
  padding-top: 0px;
  
}

.category-wrapper h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.category-row-layout {
  display: flex;
  height: 450px;
  gap: 10px;
}

.category-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-col-4 {
  flex: 4;
}

.category-col-3 {
  flex: 3;
}

.category-col-5 {
  flex: 5;
}

.category-card {
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.category-tall {
  height: 100%;
}

.category-half {
  height: calc(50% - 10px); /* 50% minus gap */
}

/* .category-card span {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin: 10px;
  padding: 8px 14px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 600;
} */

.category-card span {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 8px 14px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 600;
}




/* slider category */
 
/* .slider-categorytwo-container {
    position: relative;
    width: 100%;
    height: 860px; 
    overflow: hidden;
    background: #fff;
} */

.slider-categorytwo-container {
    position: relative;
    width: 100%;
    height: 700px;
    max-height: 700px;
    overflow: hidden;
    background: #ebe9e9;
}

.slider-categorytwo-info-box {
    position: absolute;
    top: 40px;
    right: 20px;
    background: #f5f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 400px;
    z-index: 2;
}

.slider-categorytwo-info-box h2 {
    font-weight: 700;
    margin: 0;
}

.slider-categorytwo-info-box small {
    color: gray;
}

.slider-categorytwo-colors {
    margin: 15px 0;
}

.slider-categorytwo-color-circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.slider-categorytwo-blue-stripe {
    background: repeating-linear-gradient(45deg, #001f54, #001f54 5px, white 5px, white 10px);
}

.slider-categorytwo-purple-stripe {
    background: repeating-linear-gradient(45deg, purple, purple 5px, white 5px, white 10px);
}

.slider-categorytwo-main-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    padding: 0 100px;
    padding-left: 0px;
    margin-left: -180px;
    /* gap: 80px; */
}

.slider-categorytwo-text-content {
    max-width: 680px;
    margin-top: -30px; 
    position: relative;
}

.slider-categorytwo-text-content p {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 40px;
}

.slider-categorytwo-text-content h1 {
    font-size: 68px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 220px;
}

/* .slider-categorytwo-cr7-img {
    height: 1000px;
    max-height: 1000px;
    object-fit: contain;
    margin-top: 200px;
} */

.slider-categorytwo-cr7-img {
    height: auto;
    max-height: 1000px;
    object-fit: cover;
    margin-top: 350px;
    margin-left: -220px;
}

.slider-categorytwo-slider-controls {
    position: absolute;
    bottom: 100px; 
    left: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.slider-categorytwo-slider-controls .dot {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    opacity: 0.3;
    /* margin-left: -50px; */
}

.slider-categorytwo-slider-controls .dot:first-child {
    opacity: 1;
}

.slider-categorytwo-slider-controls .arrow {
    border: 2.5px solid black;
    background-color: #ebe9e9;;
    color: #000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.slider-categorytwo-slider-controls .arrow:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .slider-categorytwo-main-content {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    }

    .slider-categorytwo-info-box {
    position: static;
    margin: 20px auto;
    }

    .slider-categorytwo-slider-controls {
    left: 50%;
    transform: translateX(-50%);
    bottom: 120px;
    }
}




.category3-body {
    font-family: Arial, sans-serif;
    /* background-color: #f6f6f6; */
    background-color: #fdfbfb;
    margin: 0;
    /* padding: 30px 10%; */
    padding: 30px 100px;

}

.category3-heading {
    font-size: 36px;
    color: #000;
    text-align: left;
    margin-bottom: 50px;
}

.category3-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2px; 
}


.category3-card {
    position: relative;
    width: 49%; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.category3-image {
    width: 100%;
    height: 700px;
    display: block;
    object-fit: cover;
}

.category3-card.left .category3-image {
    object-position: 15% center; 
}

.category3-card.right .category3-image {
    object-position: 15%  center; 
}

.category3-label {
    position: absolute;
    bottom: 0;
    padding: 12px 18px;
    background: rgba(236, 235, 235, 0.9);
    color: #000;
    font-weight: bold;
    font-size: 36px;
}

.category3-card.right .category3-label {
    right: 0;
    border-radius: 10px 0 0 0;
}

.category3-card.left .category3-label {
    left: 0;
    border-radius: 0 10px 0 0;
}

@media (max-width: 768px) {
    .category3-card {
        width: 100%;
}

    .category3-container {
        flex-direction: column;
    }
}



/* club card */
.club-selection {
    /* padding: 30px 10%; */
    padding: 30px 100px;
    background-color: #fdfbfb; 
    }

.club-head {
    font-size: 36px;
    /* margin-bottom: 20px; */
    margin-bottom: 50px;
    color: #111;
    margin-left: 5px; 
}

.club-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
}

.club-card {
    background-color: white;
    border-radius: 12px;
    width: calc(25% - 9px); 
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.club-card:hover {
    transform: translateY(-5px);
}

.club-card img {
    width: 130px;
    height: 130px;
    object-fit: contain;
    margin-bottom: 10px;
}

.club-name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .club-card {
    width: calc(50% - 2px);
    }
}

@media (max-width: 480px) {
    .club-card {
    width: 100%;
    }
}


/* offer */

.offer-section {
    /* padding: 30px 10%; */
    padding: 30px 100px;
    background-color: #fdfbfb;
}

.offer-head {
    font-size: 36px;
    /* margin-bottom: 20px; */
    margin-bottom: 50px;
    color: #111;
    margin-left: 5px; 
}

.offer-banner {
    width: 100%;
    /* max-height: 300px; */
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.banner2 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
}



/* product */

.product-section {
    /* padding: 30px 10%; */
    padding: 30px 100px;
    background-color: #fdfbfb;
}

.product-h2 {
    font-size: 36px;
    margin-bottom: 25px;
    color: #111;
    margin-left: 5px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.product-card {
    background-color: #fdfbfb;
    border-radius: 20px;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.08); */
    width: calc(33.33% - 20px);
    overflow: hidden;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-top {
    padding: 20px;
    text-align: left;
    background-color: #f2f2f2;
}

.product-top span {
    font-weight: bold;
    font-size: 14px;
}

.product-image-wrapper {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    background-color: #f2f2f2; 
    /* border-radius: 10px;  */
    /* border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.product-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}


/* .product-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    display: block;
    margin: auto;
} */

.product-details {
    padding: 20px;
    text-align: left;
}

.product-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 2px;
}

.product-category {
    font-size: 18px;
    color: #777;
    margin-bottom: 10px;
}

.product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #777;
}

.order-button {
    padding: 8px 14px;
    font-size: 16px;   
    border: 1px solid #000;
    background: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.2s, color 0.2s;
}

.order-button:hover {
    background: #000;
    color: #fff;
}

@media (max-width: 900px) {
    .product-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .product-card {
        width: 100%;
    }
}


/* product carousel */

.product-carousel-container{
    /* padding: 30px 10%; */
    padding: 30px 100px;
    background-color: #fdfbfb;
}

.product-carousel-box {
      background-color: #f2f2f2;
      border-radius: 20px;
      /* box-shadow: 0 4px 12px rgba(0,0,0,0.08); */
      display: flex;
      align-items: center;
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 0px;
      /* gap: 40px; */
      flex-wrap: wrap;
}

.product-carousel-image-container {
    flex: 1 1 100px;
    display: flex;
    justify-content: center;
}

.product-carousel-image-container img {
    max-width: 100%;
    height: 500px;
    object-fit: contain;
}

.product-carousel-text-container {
    flex: 1 1 450px;
}

.product-carousel-text-container h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-carousel-text-container ul {
    padding-left: 20px;
}

.product-carousel-text-container li {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: lighter;
}

@media (max-width: 768px) {
    .product-carousel-box {
    flex-direction: column;
    text-align: center;
    }

    .product-carousel-text-container ul {
    text-align: left;
    }
}